body{
    background-color:white;
}

#bar{ /*navbar*/
    background-color: black;
    width: 100%;
}

.title{ /* title of all files*/
    font-family:"Arial";
    font-size:50px;
    text-align: center;
    color: white;
    background: black;
}

.clearfix:after{

    display:block;
    clear:both;
}

.clearfix {
    padding-right: 20px;
    margin-bottom: 0;
}

.menu-wrap{
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
}

.menu{
    width:1000px;
    margin: 0px auto;
}

.menu li{
    margin: 0px;
    list-style:none;
}

.menu a{
    transition:all linear 0.15s;
}

.menu li:hover > a{
    text-decoration: none;
    color:darkred;
}

.menu .arrow{
    font-size: 08px;
    line-height: 0%;
}

.menu > ul > li{
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu>ul>li>a{
    padding: 15px 70px;
    display:inline-block;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul> li:hover > a{
    background:#FFF056;
    color: blue;
    text-decoration: none;
}

.menu li:hover .sub-menu{
    z-index: 1;
    visibility: visible;
    opacity: 1;
    /*animation: fadein 0.5s;*/
}

.sub-menu{
    width:160%;
    padding: 5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: visibility linear 0.15s, opacity 0.5s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background:#16171C ;
}

.sub-menu li{
    display:block;
    font-size: 16px;
}

.sub-menu li a{
    padding:10px 30px;
    display:block;

}

.a:hover{
    font-weight:bold;
}

.menu a{
    transition: all;
    linear: 0.15s;
}


ul a{ /* color of text in navbar */
    color:white;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}

.logoff {
    text-align: center;
    padding:3%;
}
.pageTitle{
    padding-left: 8%;
    font-size: 25px;
    display: inline-block;
}
.add-group{
    float: right;
    width: auto;
    height: auto;
    margin-right: 8%;
    margin-top: 1%;
    /*display: inline-block;*/
}
.form-control {
    margin-bottom: 30px;
}
.form-submit {
    margin-bottom: 25px;
}
